/* Login.css */
.login-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .login-container h1 {
    margin-bottom: 20px;
  }
  
  input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  .submit-button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  .separator {
    margin: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ccc;
  }
  
  .separator p {
    margin: 0;
    padding: 0 10px;
  }
  
  Link {
    display: block;
    text-align: center;
    color: #007bff;
  }
  